* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 70, 137);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.start-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.start-section input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.start-section button {
    padding: 10px;
    background-color: #001e4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-section button:hover {
    background-color: #0051a2;
}

.quiz-section {
    display: none;
}

#question {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background-color: #f1f1f1;
}

.correct {
    background-color: #9aeabc;
}

.incorrect {
    background-color: #ff9393;
}

#next-btn {
    background-color: #001e4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#next-btn:hover {
    background-color: #0051a2;
}

.result-section {
    display: none;
    text-align: center;
}

#restart-btn {
    padding: 10px;
    background-color: #001e4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#restart-btn:hover {
    background-color: #0051a2;
}
